.nav_bar {
  display: grid;
  grid-template-columns: 3fr 4fr 10fr;
  background-color: red;
  color: white;
  margin: 20px;
  height: 10.4vh;
}

.nav_bar h2 {
  justify-self: center;
}

.eachNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.eachNav a {
  color: white;
  text-decoration: none;
}
.eachNav h3 {
  padding-top: 3px;
  text-align: end;
}
.logo {
  height: 10vh;
  width: 70%;
}
.nav_bar img {
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
}
