.videoList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0px auto;
}

.video-card {
  display: grid;
}

img {
  width: 100%;
  justify-self: center;
}
.video-title {
  justify-self: center;
}
.searchMessage {
  text-align: center;
}

@media ((max-width: 700px)) {
  .videoList {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media ((min-width: 701px) and (max-width:1000px)) {
  .videoList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1001px) {
  .videoList {
    grid-template-columns: repeat(3, 1fr);
  }
}
