.play_video_section {
  display: grid;
}
iframe {
  margin-top: 3rem;
  justify-self: center;
}
.play-video-card {
  margin: 40px 15px;
}
.details {
  border: 1px solid lightgray;
  border-radius: 3px;
  background: lightgray;
}
.details h5,
.details p {
  padding: 5px 20px;
}

button {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
@media ((max-width: 700px)) {
  iframe {
    width: 55%;
    height: 30vh;
  }
  .nav_bar {
    margin: 15px 40px;
  }
}
@media ((min-width: 701px) and (max-width:1000px)) {
  iframe {
    width: 70%;
    height: 50vh;
  }
}
